@import "tailwindcss";

@theme {
  --color-woodsmoke: #15191C;
  --color-charade: #242931;
  --color-orange: #FF6A3B;
  --color-purple: #664CFF;
  --color-pink: #FA8DD0;
  --color-yellow: #FFC020;
  --color-green: #5E925C;
}
