@import "tailwindcss";

@theme {
  --color-woodsmoke: #15191C;
  --color-charade: #242931;
  --color-orange: #FF6A3B;
  --color-purple: #664CFF;
  --color-purple-dark: #4B3A99;
  --color-pink: #FA8DD0;
  --color-yellow: #FFC020;
  --color-green: #5E925C;
}

@layer base {
  html {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-charade);
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-purple);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-charade) transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #15191C inset;
  transition: background-color 5000s ease-in-out 0s;
}